:root {
  --padding: 8px;
  --margin: 16px;

  --condensed-font: "Roboto Condensed", sans-serif;
}
.game {
  display: grid;
  grid-template-columns: 1fr;
  padding: calc(var(--padding) * 2);

  gap: var(--margin);
  justify-items: center;

  width: max-content;
  margin: auto;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);

  justify-items: center;
  align-items: center;
  gap: 8px;
  border: 3px solid #aaa;
  padding: var(--padding);
  min-width: max-content;
  min-height: 100%;

  width: 650px;
  height: max-content;
  min-height: 500px;
  background-color: #d0ecff;
  position: relative;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease;
  box-shadow: 0 0 10px #aaa;
}

.card:active {
  transform: scale(1);
}

.card {
  min-width: max-content;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  position: relative;

  width: 120px;
  height: 150px;

  border-radius: 5px;

  transform-style: preserve-3d;
}

.cardFront,
.cardBack {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /*for safari*/

  width: 120px;
  height: 150px;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.cardFront {
  border: 5px solid #f8ea1e;
  border-radius: 5px;
  background-color: #faf5aa;
}

.cardBack {
  border: 5px solid #1e2df8;
  border-radius: 5px;
  background-color: #5d87fa;
  transform: rotateY(180deg);
}

.pkbl {
  background-color: #89a5f1;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.flipAnimation {
  animation: flip 0.5s ease-in-out;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.scoreboard {
  display: grid;
  width: 100%;
  grid-template-columns: max-content 1fr;
  gap: var(--margin);
}

.score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;

  background-color: #aac7a0c4;
  color: #00000088;
  padding: 10px;
  border: 3px solid #aaa;
  border-radius: 10px 10px 0px 10px;
}

.score p {
  height: fit-content;
  width: fit-content;
  border: 2px solid rgba(0, 0, 0, 0.322);
  padding: 2px;
  border-radius: 5px;
}

.lvl {
  justify-self: end;
}

.highScore {
  font-size: xx-large;
  background-color: #aac7a0c4;
  color: #00000088;

  height: 90px;

  padding: 10px;
  border: 3px solid #aaa;
  border-radius: 10px 10px 10px 0;
}

.highScore p {
  text-align: center;
}
